# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências (O GitHub não precisa disso, a Vercel baixa sozinha)
node_modules
dist
dist-ssr
*.local

# Editor de Código (Coisas do seu VS Code ou Mac/Windows)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ⚠️ SEGURANÇA MÁXIMA (Ignora senhas e chaves de API) ⚠️
.env
.env.*
!.env.example

# Outros
build
coverage